<%= form_with model: card |form|%>
  <div>
    <%= form.label :name%>
    <%= form.text_field :name%>
  </div>

  <div>
    <%= form.label :hp%>
    <%= form.text_field :hp%>
  </div>

  <div>
    <%= form.label :supertype%>
    <%= form.text_field :supertype%>
  </div>

  <div>
    <%= form.submit%>
  </div>


<%= end%>